// form finished 7/1/21
@use './mixins' as *;

.form-section{
    padding: 3rem;
    #img-container{

        img{
            height: 500px;
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    #box{
        background: white;
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        #info{
            margin: auto;
            text-align: center;
            padding: 1rem;
            @media (min-width: 500px) {
                width: 50%;
            }

            .entry{
                margin-top: 2rem ;
                text-align: center;
                
                input:focus{
                    outline: none !important;
                    border:3px solid #198754;
                }
            }
        }
    }
}

