// intro finished 7/1/21
@use './mixins' as *;

.intro-section{
    @include gradient;
    padding: 10rem 0 0 0 ;
    width: 100%;
    height: 100%;

    div{
        display: flex;
        justify-content: space-evenly;
        color: white;

        .intros{
            display: flex;
            align-items: center;
            padding: 1.5rem;
        }
    }
}

.logo-intro{
    max-height: 30rem;

    @media (max-width: 900px) {
        display: none;

    }

}