// Nav finished 7/1/21
@use './mixins' as *;

.nav-custom{
    @include gradient;
    position: fixed;
    width: 100vw;
    div{
        padding: .5rem;
        .logo-custom{
            padding: 1rem;
            font-size: 3rem;
            color: white;
            &:hover {
                color: white;
            }
        }
    }
}