@use './custom' as *;

.nav-custom{
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary,0.95));

    div{
        .logo-custom{
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}