@use './custom' as *;
@use './mixins' as *;

#history{
    .container{
        background: $white;
        margin-bottom: 5rem;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }
}


.card-top{
    width: 100%;
    height: 50%;
    display: flex;
    margin-bottom: -1px;
}

.card-img{
    width: 40%;
    background: black;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.card-info{
    width: 60%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        text-align: center;
        // font-size: 1rem;
        font-weight: bold;
    }
}

.card-weather{
    height: 50%;
    width: 100%;
    background: white;

    h4{
        text-align: center;
        margin-top: 1rem;
    }

}

#tripList{
    grid-gap: 2rem;
    .card{
        width: 100%;
        height: 100%;
        @include gradient;
        border-top: 0;
        border-bottom: 0;
    }
}

.forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        height: 75px;
    }
    p{
        padding: 0;
        margin: 0;
    }
}

.weather-list{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
}

.weather-history{
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
}

@media (min-width: 768px){
    .card-info{
        p{
            font-size: 1.35rem;
        }
    }
}

#btn-clear{
    @include gradient;
    color: $white;
    margin-top: 3rem;

}